body{
	background: #fffeec;
}

.sysMessage{
	background: #000;
	padding: 5px;
	color: #fff;
	margin: 0;
	text-align: center;
}

.headerContainer{
	padding: 0;
	margin: 0;
	color: #fff;
}

.siteTitle>h2>a{
	color: #fff;
	text-decoration: none;
}

.nav > li > a{
	color: #fff;
}

.nav > li.active > a{
	background: #fffeec;
}

.nav > li.active > a:hover{
	background: #fffeec;
}

.nav > li > a:hover{
	background: transparent;
	border-color: transparent;
	color: #545454;
}

header{
	background: #81D8D0;
}

.subView{
	padding: 20px 0;
}

/*Post Page*/
ul.postUl{
	list-style: none;
	margin: 0;
	padding: 0;
}

li.postLi{
	background: #fff;
	padding: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0 5% 10px 5%;
    -webkit-transition: margin 0.4s; /* Safari */
    transition: margin 0.4s;	
}

li.postLi:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0 4% 10px 4%;
	cursor: pointer;
}

p.postAuthorName{
	font-weight: bold;
	color: #474747;
}

.status{
	font-size: 12px;
	color: #757575;
}

.margin-right{
	margin-right: 10px;
}

span.talkMode{
	font-size: 11px;
	color: #8C0000;
}

.postBody{
	font-size: 16px;
}

.postBody::before, .postBody::after{
	content: ' \" ';
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	color: #BDBDBD;
}

.postCat{
	font-size: 12px;
	color:#0097C9;
}

.postCat::before{
	content: '[#'
}

.postCat::after{
	content: ']'
}

.postDateTime{
	font-size: 9px;
	color: #BDBDBD;
}


