<ul class="postUl" ng-controller='postDisplayController'>
	<li class="postLi" ng-repeat="post in posts">
		<div class="row">
	    	<div class="col-md-6">
	    		<p class="postAuthorName"><span class="glyphicon glyphicon-user"></span> {{post.authorName}} <span class="talkMode"> {{post.talkMode}}:</span></p>
	    	</div>
	    	<div class="col-md-6">
	    		<span class="pull-right postDateTime">
	    		Said on {{post.postTime}}
	    		</span>
	    	</div>
	    </div>
		
		<p><span class="postCat"><a href="#">{{post.postCat}}</a></span> <span class="postBody">{{post.postBody}}</span></p>
		<div class="row status">
			<div class="col-md-12">
			<p class="pull-right">
		    	<span class="glyphicon glyphicon-heart-empty"></span>
		    	<span>{{post.postLikes}}</span>
		    	<span class="margin-right"></span>
		    	<span class="glyphicon glyphicon-comment"></span>
		    	<span>{{post.postCommentsLikes}}</span>			
			</p>
			</div>
		</div>		
	</li>
</ul>